body{
  margin: 0;
  background-color: black;
}

#mainDiv{
  height: 100%;
  width: 100%;
  margin: 0;
  background-color: black;
}

#centreDiv{
  height: auto;
  width: 30%;
  margin: auto;
  padding: 20px;
  margin-top: 5%;
  background-color: rgb(51, 0, 255);
  border-radius: 10px;
  color: white;
  border: 5px solid white;
}

h1{
  text-align: center;
  font-size: 3vw;
  color: yellow;
}

h4{
  color: rgb(171, 165, 165);
  font-weight: bold;
  margin-top: 1vw;
  margin-left: 1.7vw;
  font-size: 1vw;
}

h2{
  color: white;
  font-weight: 500;
  margin: 1vw 1.7vw;
  font-size: 1.4vw;
}

hr{
  width: 90%;
  margin-left: 1.7vw;
  margin-top: -0.8vw;
}

.optionMainDiv{
  margin: 2vw 1.7vw;
  width: 90%;
}

.optionDiv{
  color: white;
  border: 2px solid white;
  width: 96%;
  height: 3vw;
  border-radius: 8px;
  background-color: black;
  margin: 1vw 0; 
  display: flex;
  padding-left: 15px;
  align-items: center;  
  font-size: 1.1vw;    
  cursor: pointer;
  
}

.selected{
  background-color: yellow;
  color: black;
}

.btn1{
  display: flex;
  justify-content: end;
  margin: 1vw 1.2vw;
}
.btn{
  border-radius: 5px;
  padding: 0.5vw 0.8vw;
  font-size: 0.5vw;
  font-weight: bolder;
  border: none;
  cursor: pointer;
  background-color: blueviolet;
  color: white;
  border: 2px solid white;
}

.button-disable{
  border-radius: 5px;
  border: 2px solid white;
  background-color: blueviolet;
  color: white;
  padding: 0.5vw 0.8vw;
  font-size: 0.5vw;
  font-weight: bolder;
  border: none;
  opacity: 0.6;
  cursor: not-allowed;
}

#result{
  text-align: center;
  margin: 1.5vw;
  font-size: 2.6vw;
  font-weight: bolder;
  color: yellow;
}

.progress{
  text-align: center;
  font-size: 1.3vw;
  font-weight: bolder;
  color: greenyellow;
}





@media (max-width: 800px) {
  #centreDiv{
    width: 50%;
  }
  .button-disable{
    padding: 2% 4%;
    margin-right: 2vw;
  }
}

@media (max-width: 600px) {
  #centreDiv{
    width: 50%;
  }

  h1{
    font-size: 10vw;
  }
  h2{
    font-size: 4vw;
  }
  h4{
    font-size: 3vw;
  }
  hr{
    margin-bottom: 5%;
  }
  .optionDiv{
    height: 30%;
  }
  .button-disable{
    padding: 2% 4%;
    margin-right: 1vw;
    font-size: 1vw;
  }
  .btn{
    padding: 2% 4%;
    margin-right: 1vw;
    font-size: 1vw;
  }
  #result{
  margin: 5vw;
  font-size: 6vw;
}

.progress{
  font-size: 4vw;
}
}

@media (max-width: 500px) {
  #mainDiv{
    padding: 2%;
    width: 100%;
  }
  #centreDiv{
    width: 80%;
    margin-top: 0;
    margin-left: 0;
  }
  .optionDiv{
    font-size: 3vw;
    margin: 3% 0;
  }
  .btn1{
    display: flex;
    justify-content: center;
  }
  .button-disable{
    padding: 2% 4%;
    margin-top: 5%;
    font-size: 4vw;
  }
  .btn{
    padding: 2% 4%;
    margin-top: 5%;
    font-size: 4vw;
  }
}

@media (max-width: 300px) {
  #mainDiv{
    padding: 0;
    width: 100%;
    height: 100%;
  }
  #centreDiv{
    width: 80%;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
  }
  .btn1{
    display: flex;
    justify-content: center;
  }
  .button-disable{
    margin-top: 4%;
  }
  .btn{
    margin-top: 4%;
  }
}