#mainDiv{
  height: 700px;
  width: 100%;
  margin: 1%;
}

#centreDiv{
  height: auto;
  width: 30%;
  margin: auto;
  padding: 20px;
  margin-top: 5%;
  background-color: rgb(61, 59, 59);
  border-radius: 20px;
  color: white;
  border: 5px solid violet;
}

h1{
  text-align: center;
}

h4{
  color: violet;
  font-weight: bold;
  margin-top: 10%;
  margin-left: 5%;
}

h2{
  color: rgb(187, 183, 183);
  font-weight: 500;
  margin: 6% 5%;
  font-size: 20px;
}

hr{
  width: 90%;
  margin-left: 5%;
  margin-top: -10px;
}

.optionMainDiv{
  margin: 7% 5%;
  width: 90%;
}

.optionDiv{
  color: rgb(187, 183, 183);
  border: 2px solid violet;
  width: 96%;
  height: 40px;
  border-radius: 8px;
  background-color: black;
  margin: 10px 0; 
  display: flex;
  padding-left: 15px;
  align-items: center;  
  font-size: 15px;    
  cursor: pointer;
  
}

.selected{
  background-color: blue;
}

.btn1{
  display: flex;
  justify-content: end;
  margin: 10px 5%;
}
.btn{
  border-radius: 5px;
  background-color: violet;
  padding: 8px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  cursor: pointer;
}

.button-disable{
  border-radius: 5px;
  background-color: violet;
  color: rgb(226, 218, 218);
  padding: 8px;
  font-size: 15px;
  font-weight: bolder;
  border: none;
  opacity: 0.6;
  cursor: not-allowed;
}

#result{
  text-align: center;
  margin: 20px;
  font-size: 30px;
  font-weight: bolder;
  color: yellow;
}